.product {
  @include crossAxisCentered;
  flex-direction: column;
  padding: 18px 0 15px;
  border: 1px solid $borderColor;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 158px;
    padding: 12px 0;
    transition: transform 1s;

    &:hover {
      outline: 3px solid $borderColor;
      transform: scale(1.2);
    }
  }

  &-item {
    width: $cardWidth - 30px;
  }

  &__buy {
    @include flexCentered;
    height: 40px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $secondaryColor;
    border-radius: 5px;
    color: $primaryColor;
    transition: color 0.2s, background-color 0.2s, border 0.2s;

    &:hover {
      background: $primaryColor;
      border: 1px solid;
      color: $secondaryColor;
    }
  }
}
