@import "_reset";
@import "variables";
@import "mixins";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/product";
@import "blocks/description";
@import "blocks/rating";
@import "blocks/price";
@import "blocks/stars";

.main {
  padding-top: 50px;

  &__content {
    margin: 0 auto;
    max-width: $cardWidth * $cardsPerRow + $horizontalGap * ($cardsPerRow - 1);
    display: grid;
    gap: 50px 48px;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
  }
}
