@import "_reset";
@import "variables";
@import "mixins";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/product";
@import "blocks/description";
@import "blocks/rating";
@import "blocks/price";
@import "blocks/stars";

.main {
  @include flexCentered;
  padding-top: 25px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: ($cardWidth + $cardHorizontalMargin) * $cardsPerRow;
  }

  &__item {
    width: 200px;
    margin: 25px $cardHorizontalMargin / 2;
  }
}
